body{
    background: linear-gradient(to top, rgba(255, 242, 125, 1), rgba(45, 217, 255, 1));
}
main{
    text-align: center;
}
header{
    border: 1px, solid, black;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(217, 217, 217, 0.54);
    display: flex;
    align-items: center;
    padding: 8px;
}
header a{
    text-decoration: none;
    color: black;
    padding-left: 30px; ;
}
section{
    height: 80%;
    margin: 100px;
}

h1{
    margin: 50px;
}
.block1{
display: inline-block;
justify-content: space-around;
margin: 0, auto;
text-align: center;
padding: auto;
width: 49%;
}